.main {
	text-align: center;
}

.arrow {
    padding-top: 5%;
    float: left;
    font-size: 50px;
}

.main {
    padding: 5px;
}

.account-container {
    float: left;
}

.accounts-info-name {
    font-size: 42px;
    font-weight: bold;
}

.accounts-info-balance {
    color: #27e827;
    font-size: 24px;
    font-weight: bold
}

.accounts-info-icon {
    font-size: 128px;
}

.account-edit {
    font-size: 32px;
}

.account-progress {
    border: 1px solid rgba(114, 114, 114, 0.5);
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.grid-cell-checkbox {
    width: 5%;
}

.grid-header-checkbox {
    width: 5%;
}

.transactions-grid-container {
    padding: 5px;
}

.datepicker > div {
    display: block
}

.transaction-container {
    display: flex;
}