.nav-header-app {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(35, 35, 35, 0.63);
    overflow-x: hidden;
    border-bottom: 1px solid gray;
    padding: 3px 1px;
}

.nav-sidebar {
	width: 300px;
    background: #555;
    position: absolute;
    left: -300px;
    z-index: 20;
    border: 2px solid black;
    transition: 0.5s;
}

.nav-sidebar-visible {
	left: 0px;
}

.nav-header-button {
	background: none;
    border: none;
    color: white;
    font-size: 24px;
    outline: none;
    display: inline-block;
}

.nav-header-button:hover {
	text-shadow: 2px 2px 6px #807C6E;
}

.options-item-glyph, .options-item-action {
	display: inline-block;
}

.options-item {
	cursor: pointer;
}

.options-item-glyph {
    font-size: 32px;
    height: 60px;
    width: 60px;
    padding: 13px;
    text-align: center;
}

.options-item-action {
    font-size: 24px;
    height: 100%;
    width: 75%;
    position: relative;
    bottom: 5px;
}

.nav-sidebar-options-item:hover {
	background: green;
}

.content-panel {
	padding: 5px;
    margin-left: 70px;
}

.finances-menu-button {
	width: 100%;
	text-align: center;
	font-size: 24px;
	border: none;
	outline: none;
	color: #dddddd;
	padding: 5px;
	border-bottom: 1px solid black;
    background: none;
}

.finances-menu-button-icon {
	font-size: 32px;
}

.finances-menu-button-label {
	position: relative;
	top: -4px;
	left: 20px;
}

.nav-header-user-label {
	display: inline-block;
	color: white;
	font-size: 18px;
    position: relative;
    top: -3px;
}

.toolbar-buttons {
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 121px;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 5px;
}

.finances-toolbar-button {
	border: none;
	outline: none;
	
}